/* body{
    padding: 10px;

}

#para{
    color: black;
    font-style: bold;
    font-size: 30px;
}


#title{

    background-color:	#000000 ;
    box-shadow: 10px 10px 5px black;
    text-shadow: 5px 5px 3px orangered  ;
    animation-name:example ;
    animation-duration:4s ;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
}



@keyframes example {
    from {background-color: red;}
    to {background-image: linear-gradient(to right, red , blue);}
  }
 */


 *{
    padding: 0px;
 }

 #rock{
    background-color: orange;
 }

 #paper{
    background-color: skyblue;
 }

 #scissor{
    background-color: lightseagreen;
   
 }

 #wrapperButton{

    display: flex;
    justify-content: center;
 }

 .button{
    border: 0px;
    width: 100px;
    height: 100px;
    margin: 15px;
    
    border-radius: 10px;
    font-size: large;
    font-family: monospace;
    font-style: normal;
    align-items: center;
 }

 .button:active{
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
 }

 #wrapperp{

 }

 #computerchoice{
    text-align: center;
    font-size: 19px;
    margin-left: -100px;
    font-family: Arial, Helvetica, sans-serif;
 }

 #score{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-left: -100px;
 }

 #winning{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-left: -100px;
    
 }